motd=Tensura: Sovereign Rebirth Version 1 (Beta)
gamemode=survival
difficulty=normal
hardcore=false
online-mode=true
allow-flight=true
view-distance=8
simulation-distance=6
spawn-protection=16
enable-command-block=false
max-tick-time=120000
network-compression-threshold=256
sync-chunk-writes=true
